:root {
  --text-primary-color: rgba(0, 0, 0, 0.87);
  --text-secondary-color: rgba(0, 0, 0, 0.6);
  --grey-300-color: #e0e0e0;
  --grey-200-color:#eeeeee;
  --grey-100-color:#f5f5f5;
}

html,
body {
  font-family: 'Inter', 'Arial', sans-serif;
  color-scheme: light;
}